/*  Pour reset les marges*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* wrapper  =   bloc contenant les réglages par défaut pour toute la page*/

.wrapper {
    
    background-image: url(images/logo.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    text-align: center;
    font-family:'Courier New', Courier, monospace;
    display: flex;
    flex-direction: column;
    height: 700px;
}

/* nav  =   bloc contenant: h1, nav, menu et a  */

nav {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    height: 790px;
    line-height: 1;
}

h1 {
    font-size: 3.7em;
    color: white;
}

h3 {
    font-size: 2em;
    color: rgba(204, 0, 0, 1);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
}

#menu {
    display: flex;
    flex-direction: column;
}

a {
    color: white;
    text-decoration: none;
    padding: 2px;
    font-size: 1.5em;
    background:rgba(204, 0, 0, 1);
    background-size: 100px;
    border: none;
    animation: appear 1s;
    transition: ease-in-out 0.5s;
    margin: 10px;
    width: 400px;
}

nav .lk {
    width: 6%;
    filter: invert();
}

@keyframes appear {
    from {
        transform: scale(0)
    }
    to {
        transform: scale(1) 
    }

}

a:hover {
    opacity: 70%;
    color:rgba(204, 0, 0, 1);
    /* background: white; */
    font-weight: bold;    
}
