/*  Pour reset les marges*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Pour rendre tous les liens scrollables*/

html {
    scroll-behavior: smooth;
}

/* wrapper  =   bloc contenant les réglages par défaut pour toute la page*/

.wrapper {
    /* background:  rgba(52, 191, 240, 1); */
    text-align: center;
    display: flex;
    flex-direction: column;
}

header {
    background:  rgba(52, 191, 240, 1);
    height: 60px;
    align-items: center;
    display: flex;
}

.head {
    display: flex;
    align-items: center;
}

.pcs {
    width: 15%;
}

.fb,
.in,
.lk,
.tk{
    width: 5%;
}

.socialA {
    display: flex;
    display: inline-table;
}

.socialB {
    display: none;
}

a {
    color: white;
    text-decoration: none;
    padding: 10px;
}

a:hover {
    opacity: 50%;
    transition: ease-in-out 0.5s;
}

/* Navigation */

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
}

nav .lk {
    width: 1.5%;
    filter: invert();
}

.menu {
    font-size: 1.2em;
    font-weight: bold;
}
.meal {
    border-radius: 10px;
    display: none;
}


h2 {
    font-size: 2em;
    color: white;
    padding-bottom: 10px;
}

/* Accueil */

.accueil {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    padding-right: 230px;
    margin-bottom: -5px;
    padding-top: 0px;
    background: url(/images/collection1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.illustrationC {
    display: none;
}

/* #background-video {
    width: 40%;
} */

/* #background-video {
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    opacity: 70%;
} */

h1 {
    font-size: 3.7em;
    font-weight: bold;
    text-align: center;
    margin-left: 100px;
    margin-right: 260px;
}

h2 {
    font-size: 4em;
    color:  rgba(52, 191, 240, 1);
    padding-bottom: 80px;
}

.accueil figure {
    justify-content: space-between;
    width: 23%;
}

.illustrationA {
    width: 320%;
    padding-right: 130px;
    margin-right: 50px;
    filter: grayscale(0%);
}

.illustrationB {
    display: none;
}

.photo {
    width: 50%;
}
/* features */

.features {
    background: white;
    display: flex;
    flex-direction: column;
    padding-top: 50px;
}

h3 {
    font-size: 1.8em;
    margin-top: 30px;
}

.bloc3 {
    display: flex;
    flex-direction: row;
    align-items: initial;
    justify-content: space-between;
    gap: 15px;
    padding: 30px;
    margin-bottom: 100px;
}

h4 {
    font-size: 1.5em;
}

.text2 {
    text-align: center;
}

.ico {
    width: 50%;
    margin-bottom: 20px;
}

.icoRadio {

    width: 50%;
    margin-bottom: 20px;
}

.feat {
    background:  rgba(52, 191, 240, 1);
    color: white;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 6px 10px rgba(52, 191, 240, 1);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    margin: 10px;
}


/*  Pour ajouter un effet décalage vers le haut au passage de la souris
sur les divs design, colors et solutions*/

.feat:hover {
    animation-name: move;
    animation-duration: 1s;
    animation-iteration-count: initial;
    animation-direction: initial;
    animation-play-state: paused;
    transition: .5s ease-in-out;
}

@keyframes move {
    0% {
        transform: translateY(-5%);
    }

    100% {
        transform: translateY(5%);
    }
}

/* team */

.text3 {
    text-align: center;
    color: rgba(52, 191, 240, 1);
    margin-bottom: 60px;
    font-size: 1.2em;
}

.team {
    display: flex;
    flex-direction: row;
    background: white;
    align-items: initial;
    gap: 10px;
    justify-content: center;
    padding-bottom: 90px;
}

.staff {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

/*  Paramètres pour mettre les images et les icônes en ordre et pour zoomer*/

.icoPhoto {
    display: flex;
    flex-direction: row;
    position: relative;
}

.icoPhoto:hover .ico3 {
    opacity: 1;
}

.ico3 {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    gap: 0px;
    position: absolute;
    width: 30%;
    transition: 0.5s ease-in-out;
    opacity: 0;
    left: 170px;
    top: 40px;
    z-index: 1;
}

.icoFb,
.icoIn,
.icoLkd,
.icoTk {
    width: 50%;
    filter: invert();
}

.pcs1 {
    width: 100%;
    align-items: center;
    border-radius: 50%;
    margin: 0 auto;
}

.pcs1:hover {
    transform: scale(1.2);
    transition: ease-in-out 0.5s;
}

.team figure {
    justify-content: space-between;
    width: 225px;
}

.team h1 {
    font-size: 1.8em;
    margin-left: 70px;
    margin-top: 40px;
}

.team h3 {
    font-size: 1.6em;
    margin-top: 0px;
}

/* EFFET PARALLAX */
/*  Pour mettre une image fixe en arrière plan*/

.getStart {
    color: white;
    background-image: url("images/collection.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: top;
}

h5 {
    font-size: 2.5em;
    padding-top: 120px;
    padding-bottom: 50px;
    color: black;
}

/* Les Livres */

.price {
    display: flex;
    flex-direction: column;
    background: whitesmoke;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 150px;
}

.blocPrice {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
}

.pack {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;
    border-radius: 8px;
    box-shadow: 0px 6px 10px grey;
    gap: 5px;
    margin: 10px;
    padding: 20px;
    transition: .5s ease-in-out;
}

.log {
    width: 50%;
    align-items: center;
    
}

section .price tr {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

tbody {
    text-align: start;
}

.boutonJoin {
    color:  rgba(52, 191, 240, 1);
    border: 1px solid rgba(52, 191, 240, 1);
    background: none;
    border-radius: 8px;
    font-size: 1.3em;
    margin-top: 20px;
    padding: 10px 80px 10px 80px;
    transition: .5s ease-in-out;
}

/* Pour animer et améliorer le design des 3 blocs 
contenant la description des différentes formules proposée*/

.boutonJoin:hover {
    background: rgba(52, 191, 240, 1);
    color: white;
    cursor: pointer;
}

/* info */

#info {
    display: flex;
    flex-direction: column;
    background: rgba(52, 191, 240, 1);
    padding-top: 20px;
    text-align: left;
}

.logQR {
    width: 10%;
    align-items: center;
    filter: invert(1);
}

.reseaux {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0px;
    width: 30%;
}

.foot {
    display: flex;
    flex-direction: row;
}

.face {
    opacity: 50%;
    width: 80%;
    border-radius: 20px;
    border: 1px solid gray;
}

.inst,
.lkd {
    opacity: 50%;
    width: 80%;
}

.acces {
    opacity: 50%;
    font-size: 1.2em;
}

.acces .text3 {
    color: white;
    margin-bottom: 0px;
}

.acces a:hover {
    color: black;
}

.boutonScroll {
    width: 3%;
    border-radius: 50%;
    
    position: fixed;
    top: 580px;
    left: 1230px;
    transition: .5s ease-in-out;
}

.boutonScroll:hover {
    cursor: pointer;
}

/*///////////////////////////////////////RESPONSIVE/////////////////////////////////////////*/


/*////////////////INSPECTER - BUREAU - PAGE WEB///////////////////*/
@media only screen and (max-width: 1196px) {

    h1 {
        font-size: 2.5em;
    }

    a {
        font-size: 0.7em;
        padding: 3px;
    }

    .illustration {
        width: 300%;
    }

    .bloc3 {
        margin: 40px 20px 40px 20px;
    }

    h4 {
        font-size: 1.1em;
    }

    .feat {
        margin: 10px;
    }

    .team {
        padding-left: 70px;
    }

    .boutonScroll {
        position: fixed;
        top: 560px;
        left: 980px;
        transition: .5s ease-in-out;
    }

}

/*TABLETTE//////////////////////////////////////////////////////*/

@media (min-width: 769px) and (max-width: 1024px) {

    .wrapper {
        width: 120%;
        margin: auto;
    }

    /*////////////////////////////ACCUEIL///////////////////////////*/

    .boutonScroll {
        position: fixed;
        top: 700px;
        left: 1500px;
        transition: .5s ease-in-out;
    }

    a {
        font-size: 0.5em;
        padding: 1px;
    }

    .liens {
        width: 20%;
    }

    nav {
        display: flex;
        flex-direction: row;
        margin-left: 0px;
    }

    /*////////////////////////////MENU BURGER///////////////////////////*/

    .menu {
        display: none;
    }

    .meal {
        border-radius: 10px;
        margin-right: 20px;
        display: flex;
    }

    /*//////////////////////////////////////////////////////////////////*/

    .accueil {
        padding-right: 0px;
        padding-top: 0px;
        padding-bottom: 0px;
        margin-bottom: 40px;
        margin-left: 60px;
    }

    .bloc {
        padding-right: 0px;
        margin-right: 0px;
        margin-top: 0px;
        margin-left: 120px;
    }

    .text {
        text-align: justify;
        margin-left: 40px;
    }

    h1 {
        font-size: 2em;
        text-align: center;
        margin-left: 40px;
    }

    .illustration {
        display: none;
    }


    /*////////////////////////////FEATURES///////////////////////////*/

    .bloc3 {
        margin: 0px 0px 40px 0px;
        gap: 0px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .bloc3 h4 {
        padding-bottom: 10px;
    }

    .feat {
        padding: 10px;
        margin: 10px;
        width: 40%;
    }

    .feat:hover {
        animation: none;
    }

    /*////////////////////////////TEAM///////////////////////////*/

    .team h3 {
        font-size: 1em;
    }

    .team {
        gap: 0px;
        justify-content: center;
        padding-bottom: 20px;
        padding-left: 0px;
    }

    .ico3 {
        left: 20px;
        padding-top: 30px;
    }


    /*////////////////////////////GET START///////////////////////////*/

    .getStart h5 {
        font-size: 2.2em;
    }

    .text4 {
        padding-left: 30px;
        padding-right: 30px;
    }


    /*////////////////////////////PRICE///////////////////////////*/

    .blocPrice {
        flex-direction: column;
    }

    .blocPrice:hover {
        animation: none;
    }

    
    a {
        font-size: 1.5em;
    }

    .photo-hover {
        left: 40px;
    }

    h4 {
        font-size: 1.7em;
    }

    /*////////////////////////////FOOTER///////////////////////////*/

    .reseaux {
        padding-top: 0px;
        padding-bottom: 0px;
    }

    .text3 {
        margin-bottom: 20px;
        font-size: 1em;
    }

    .acces {
        margin-bottom: 20px;
        margin-top: 20px;
        font-size: 0.5em;
    }

    #info {
        padding-bottom: 0px;
    }

}

/*TELEPHONE//////////////////////////////////////////////////////*/

@media (min-width: 0) and (max-width: 768px) {

    .wrapper {
        width: 100%;
        margin: auto;
        line-height: 1.5;
    }

    header {
        height: 100px;
    }

    /* Desactiver cette fonction pour que le menu burger fonctionne*/

    html {
        scroll-behavior: unset;
    }

    /* Animation Faire apparaitre certains éléments Zoom*/

    @keyframes appear {
        from {
            transform: scale(0)
        }

        to {
            transform: scale(1)
        }

    }

    /* Animation Scroller les caroussels automatiquement*/

    @keyframes scroll {
        0% {
            transform: translateX(0);
        }

        100% {
            transform: translateX(calc(-250px * 5));
        }
    }

    /*////////////////////////////ACCUEIL///////////////////////////*/

    .accueil {
        width: 0px;
        padding-right: 0px;
        padding-top: 0px;
        margin-bottom: 0px;
    }

    .illustrationA {
        display: none;
    }

    .illustrationB {
        display: flex;
        width: 100%;
    }
    
    .bloc {
        margin-left: 520px;
    }

    .text {
        margin-left: 15px;
    }

    h2 {
        color: black;
        padding-left: 25px;
        font-size: 2.6em;
        padding-top: 10px;
    }

    .liens {
        padding-top: 10px;
    }

    .fb,
    .in,
    .lk,
    .tk {
        width: 40%;
    }

    nav .lk {
        width: 40%;
        filter: none;
    }

    .socialA {
        display: none;
    }

    .socialB {
        display: flex;
    }

    a {
        font-size: 0.5em;
        padding: 1px;
    }

    .pcs {
        display: none;
    }

    nav {
        display: flex;
        flex-direction: row;
        margin: 20px;
        height: 70px;
        background: white;
        border-radius: 10px;
        box-shadow: 0px 10px 10px rgb(0, 0, 0);

        /*Faire apparaitre cet élément*/
        animation: appear 1s;
        transition: ease-in-out 0.5s;
    }

    /*////////////////////////////MENU BURGER///////////////////////////*/

    .menu {
        display: none;
    }

    .meal {
        border-radius: 10px;
        display: flex;
        cursor: pointer;
    }

    .meal:hover {
        opacity: 50%;
        cursor: pointer;
    }

    /*//////////////////////////////////////////////////////////////////*/

    h1 {
        font-size: 1.5em;
        font-weight: bold;
        text-align: center;
        margin-left: 50px;
        margin-right: 0px;
    }

    h2 {
        font-size: 4em;
        color: rgba(52, 191, 240, 1);
        padding-bottom: 40px;
    }
    
    /*////////////////////////////FEATURES///////////////////////////*/

    .illustrationC {
        display: flex;
        width: 410px;
    }

    .text1 {
        padding: 20px;
    }

    .ico {
        width: 100%;
    }

    .bloc3 {
        margin: 0px 0px 40px 0px;
        gap: 0px;
        flex-direction: column;
    }

    .bloc3 h4 {
        padding-bottom: 10px;
    }

    .feat {
        padding: 10px;
        margin: 10px;
    }

    .feat:hover {
        animation: none;
    }

    /* Générer un caroussel glissement AUTO*/

    .bloc3 {
        position: relative;
        overflow: auto;
        display: flex;
        justify-content: left;
        scroll-snap-type: x mandatory;
        flex-direction: row;
        margin-left: 20px;
    }

    .feat {
        position: sticky;
        object-fit: cover;
        flex-shrink: 0;
        scroll-snap-align: start;

        /* Pour centrer la première image du caroussel et gérer l'espace entre les images*/
        width: 112%;
        max-width: 500px;

        /*Pour scroller auto*/
        animation: scroll 20s linear infinite;
    }

    /*////////////////////////////TEAM///////////////////////////*/

    h3 {
        font-size: 1.5em;
    }

    .team h1 {
        margin-left: 0px;
    }

    .team h3 {
        font-size: 1.5em;
    }

    .team .text3 {
        font-size: 1.2em;
        margin-bottom: 40px;
    }

    .team {
        gap: 0px;
        justify-content: center;
        padding-bottom: 20px;
        padding-left: 0px;
        padding-right: 15px;
    }

    .ico3 {
        left: 220px;
        top: 50px;
    }

    .team figure {
        width: 300px;
    }

    .pcs1 {
        width: 100%;
    }

    .ico3 {

        padding-top: 30px;
    }

    .icoFb, 
    .icoIn,
    .icoLkd,
    .icoTk {
        width: 30%;
        filter: invert();
    }

    /*////////////////////////////GET START///////////////////////////*/

    .getStart h5 {
        font-size: 2.2em;
    }

    .text4 {
        padding-left: 30px;
        padding-right: 30px;
    }

    
    .log {
        width: 70%;
    }

    /* #background-video {
        width: 100%;
    } */
    /*////////////////////////////PRICE///////////////////////////*/

    /* Générer un caroussel glissement AU DOIGT*/

    .blocPrice {
        position: relative;
        overflow: auto;
        display: flex;
        justify-content: left;
        scroll-snap-type: x mandatory;
        flex-direction: row;
        width: 360px;
    }

    .blocPrice:hover {
        animation: none;
    }

    .pack {
        position: sticky;
        object-fit: cover;
        flex-shrink: 0;
        scroll-snap-align: start;

        /* Pour centrer la première image du caroussel et gérer l'espace entre les images*/
        width: 100%;
        max-width: 1000px;
    }

    .boutonJoin {
        padding-left: 60px;
        padding-right: 60px;
    }

    a {
        font-size: 1.5em;
    }

    h4 {
        font-size: 1.7em;
    }

    /*////////////////////////////FOOTER///////////////////////////*/

    .reseaux {
        padding-top: 0px;
        padding-bottom: 0px;
    }

    .text3 {
        margin-bottom: 20px;
        font-size: 0.7em;
    }

    .acces {
        margin-bottom: 20px;
        margin-top: 20px;
        font-size: 0.5em;
    }

    #info {
        padding-bottom: 0px;
    }

    .face,
    .inst,
    .lkd {
        opacity: 50%;
        width: 60%;
    }

    .logQR {
        width: 20%;
        align-items: center;
        filter: invert(1);
    }
    
}

/*///////////////////////////NORMES///////////////////////////*/

/* Mobile */
@media (min-width: 0) and (max-width: 768px) {

    /* h1 {
        font-size: 9vw;
        padding: 2vh 0;
    } */

    h2 {
        font-size: 7vw;
    }

    p {
        font-size: 4vw;
    }
}